/*
// Project Name: Milestone3
// Project Version: 1.2
// Module Name: Blog Post
// Module Version: 1.2
// Programmer Name: Justin Gewecke
// Date: 7/12/2020
// Description: This module handles the blog portion of the website
// References: https://www.w3schools.com/php/php_mysql_insert.asp
*/

label {
	float: left;
	display: block;
}

.group {
	display: flex;
	margin-bottom: 5px;
}

input[type=text] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}

input[type=password] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}

.textInput {
  display: inline-block;
  width: 6em;
  margin-right: .5em;
  padding-top: 1.5em;
}

.postSubmit {
	display: inline-block;
 	width: 6em;
 	position: relative;
 	top: -3em;
}